<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Prototipo_registro_de_alumnos.Properties.Settings.RegistroAlumnosCassaffousth"
            connectionString="Data Source=MARIANORUARTE;Initial Catalog=RegistroAlumnosCassaffousth;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>